@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" | "thin" | "none" */
  scrollbar-color: rgb(206, 206, 206) transparent; /* thumb | track */
}

/* WebKit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}